<mat-toolbar color="primary" class="mat-elevation-z1">
  <button mat-icon-button class="toolbar-icon" id="menu" (click)="appDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>PROJECT_DOUBLE_HELIX_</span>
  <span class="spacer"></span>
  <button mat-raised-button class="toolbar-icon" *ngIf="!isAuth">login</button>
  <button mat-raised-button class="toolbar-icon" *ngIf="!isAuth">settings</button>
  <button mat-raised-button class="toolbar-icon" *ngIf="!isAuth">logout</button>
  <button mat-raised-button class="toolbar-icon" *ngIf="!isAuth">signup</button>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #appDrawer mode="rail" opened="false">
    <mat-nav-list class="dashboard">
      <a mat-list-item routerLink="/exile/blight" routerLinkActive="active" *ngIf="!isAuth">
        <mat-icon mat-list-icon>account_circle</mat-icon>
        <p matLine>Name</p>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/exile/blight" routerLinkActive="active" *ngIf="!isAuth">
        <mat-icon mat-list-icon>inbox</mat-icon>
        <p matLine>Blight</p>
      </a>
      <a mat-list-item routerLink="/exile/skills" routerLinkActive="active">
        <mat-icon mat-list-icon>star</mat-icon>
        <p matLine>Skill Gems</p>
      </a>
      <a mat-list-item>
        <mat-icon mat-list-icon>drafts</mat-icon>
        <p matLine>Drafts</p>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="container">
      <router-outlet></router-outlet>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>

  </mat-sidenav-content>
</mat-sidenav-container>