<section>
    <mat-card class="container">
        <mat-card class="filter-container mat-elevation-z8" fxLayout="row" fxLayoutAlign="start center">
            <span fxFlex="40%">Click arrow for showing alternate quality for the gem.</span>
            <span fxFlex="grow"></span>
            <span>Filter:</span>
            <form class="form">
                <mat-form-field class="form-field">
                    <input matInput (keyup)="applyFilter($event)" placeholder="Apply filter" #input>
                </mat-form-field>
            </form>
        </mat-card>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <!--  -->
            <!-- Column 1: level -->
            <ng-container matColumnDef="level" class="col-level">
                <th mat-header-cell *matHeaderCellDef>Lvl</th>
                <td mat-cell *matCellDef="let skills">{{skills.level}}</td>
            </ng-container>
            <!--  -->
            <!-- Column 2: name -->
            <ng-container matColumnDef="name" class="col-name">
                <th mat-header-cell *matHeaderCellDef>Gem</th>
                <td mat-cell *matCellDef="let skills">{{skills.name}}</td>
            </ng-container>
            <!--  -->
            <!-- Column 3: Gem type (active/support) -->
            <ng-container matColumnDef="support" class="col-type">
                <th mat-header-cell *matHeaderCellDef>Type</th>
                <td mat-cell *matCellDef="let skills">{{skills.support}}</td>
            </ng-container>
            <!--  -->
            <!-- Column 4: default quality -->
            <ng-container matColumnDef="default">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let skills"></td>
            </ng-container>
            <!--  -->
            <!-- Column 5: alternate 1 -->
            <ng-container matColumnDef="alt1">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let skills"></td>
            </ng-container>
            <!--  -->
            <!-- Column 6: alternate 2 -->
            <ng-container matColumnDef="alt2">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let skills"></td>
            </ng-container>
            <!--  -->
            <!-- Column 7: alternate 3-->
            <ng-container matColumnDef="alt3" class="col-quality">
                <th mat-header-cell *matHeaderCellDef>Quality</th>
                <td mat-cell *matCellDef="let skills">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            {{skills.default}}
                        </mat-expansion-panel-header>
                        <mat-list role="list">
                            <mat-list-item role="listitem">{{skills.alt1}}</mat-list-item>
                            <mat-list-item role="listitem">{{skills.alt2}}</mat-list-item>
                            <mat-list-item role="listitem">{{skills.alt3}}</mat-list-item>
                        </mat-list>
                    </mat-expansion-panel>
                </td>
            </ng-container>-->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">no data matching the filter "{{input.value}}"</td>
            </tr>
        </table>
    </mat-card>
</section>