// .container {}
// .filter-container {}
// .form {}
// .form-field {}

table {
    width: 100%;
}

.mat-column-level {
    flex: none;
    min-width: 50px;
}
.mat-column-name {
    flex: none;
    min-width: 250px;
}
