// .grid-container {
//     display: grid;
//     grid-template-areas: 
//         'header header header header header header header'
//         'main1 main2 main3 main4 main5 main6 main7'
//         'footer1 footer2 footer3 footer4 footer5 footer6 footer7';
//     grid-gap: 10px;
//     // background-color: lightcoral;
//     justify-content: center;
// }

// .grid-header      { grid-area: header; justify-self: center; text-shadow: mediumseagreen; font-size: 400%; font-weight:bolder; margin: 20px; padding: 20px;}
// .grid-main-day    { grid-area: main1; margin: 20px; }
// .grid-main-hour   { grid-area: main2; margin: 20px; }
// .grid-main-min    { grid-area: main3; margin: 20px; }
// .grid-main-sec    { grid-area: main4; margin: 20px; }
// .grid-footer-day  { grid-area: footer1; }
// .grid-footer-hour { grid-area: footer2; }
// .grid-footer-min  { grid-area: footer3; }
// .grid-footer-sec  { grid-area: footer4; }
// .grid-footer-end  { grid-area: footer7; }

// Container for options
// .grid-container-options {
//     display: grid;
//     grid-template-areas: 
//         'header header header header header header header'
//         'main1 main2 main3 main4 main5 main6 main7'
//         'footer1 footer2 footer3 footer4 footer5 footer6 footer7';
//     grid-gap: 10px;
//     // background-color: lightcoral;
//     justify-content: center;
// }
// .spinDays {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     -moz-transform: translateX(-50%) translateY(-50%);
//     -webkit-transform: translateX(-50%) translateY(-50%);
//     transform: translateX(-50%) translateY(-50%);
// }
 
// .daysOverlay''' {
//     height: 100vh;
//     width: 100%;
//     background-color: rgba(0, 0, 0, 0.286);
//     z-index: 10;
//     top: 0;
//     left: 0;
//     position: fixed;
// }

// .daysOverlay {
//     position: relative;
//     top: -60px;
//     left: 30px;
// }