<section>
    <div>
        <!-- The display container -->
        <mat-card class="grid-container" style="margin: 2px;">
            <!-- The header, eventname -->
            <h4 class="grid-header">Eventname</h4>
            <!-- Days -->
            <mat-progress-spinner class="grid-main-day" mode="determinate" color="warn" value="25" diameter="175"
                strokeWidth="5"></mat-progress-spinner>
            <h2 class="grid-footer-day">5 days</h2>

            <!-- Hours -->
            <mat-progress-spinner class="grid-main-hour" mode="determinate" color="primary" value="50" diameter="175"
                strokeWidth="5"></mat-progress-spinner>
            <h2 class="grid-footer-hour">5 hour</h2>

            <!-- Mins -->
            <mat-progress-spinner class="grid-main-min" mode="determinate" color="warn" value="75" diameter="175"
                strokeWidth="5"></mat-progress-spinner>
            <h2 class="grid-footer-min">5 min</h2>

            <!-- Secs -->
            <mat-progress-spinner class="grid-main-sec" mode="determinate" color="accent" value="100" diameter="175"
                strokeWidth="5"></mat-progress-spinner>
            <h2 class="grid-footer-sec">5 sec</h2>

            <!-- Event options -->
            <button mat-icon-button color="primary" class="grid-footer-end">
                <mat-icon>settings</mat-icon>
            </button>
        </mat-card>
        <!-- The option container -->
        <mat-card class="grid-container-options" style="margin: 2px;">
            <!-- Choose which way to calc date. Fixed date or x dhms -->
            <mat-label>Fixed date:</mat-label>
            <mat-slide-toggle 
                class="grid-main1" 
                color="primary"
                [(ngModel)]="isChecked"
                (change)="togglePickDate($event.checked)">
            </mat-slide-toggle>

            <!-- shown if picked date is chosen -->
            <mat-label>Pick date:</mat-label>

            <mat-form-field *ngIf="!isPickDateToggled" appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field *ngIf="!isPickDateToggled" appearance="fill">
                <mat-label>Time</mat-label>
                <input matInput type="datetime-local">
                <button mat-button matSuffix mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

            <!-- shown if picked date is not chosen -->
            <mat-label></mat-label>

            <!-- Manual countdown, days -->
            <mat-form-field form-field>
                <mat-label>days</mat-label>
                <input matInput type="number">
                <button mat-button matSuffix mat-icon-button>
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>

        </mat-card>
    </div>
</section>