.container {
    display: flex;
    // height: 200px;
}

.grid {
    // background-color: lightblue;
}

.annoint-choice-container {
    width: 90%;
    height: 90%;
}

.img-toggle {
    width: 40px;
}


.selected-oils {
    // display: flex;
    // flex-flow: unset;
    width: 90%;
    height: 90%;
    // justify-content: center;
}

.img-seleceted-oil {
}

.img-seleceted-type-btn {
}

.img-seleceted-type {
    width: 80px;
}

.img-select-oil {
    width: 35px;
}